.App-header {
  background-color: #fdf5df;
  padding: 20px;
  color: #5ebec4;
  width: 100vw;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fdf5df;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  margin-bottom: 30px;
}

.first, .second {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 25px;
}

.first div, .second div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
}

input, textarea {
  border-radius: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  border: 2px solid #ccc;
}

input:hover, textarea:hover {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  color: #007bff;
  background-color: #e6f7ff;
}

input {
  height: 30px;
  max-width: 100%;
}

textarea {
  height: 100px;
}

button {
  height: 40px;
  width: 100px;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #007bff;
  color: white;
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}
